* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rem {
    width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.rem label {
    display: flex;
    align-items: center;
}
.rem .count {
    padding: 5px 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}
.rem input {
    height: 30px;
    padding: 0 5px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #ccc;
}

